body{
    background-color: #FEE140;
    background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);

}   
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.q{
    display: flex;
    justify-content: center;
}